{% extends 'base.html' %}

{% block title %}
<h2>Latest reviews</h2>
{% endblock %}

{% block content %}
{% if latest_review_list %}
<div class="row">
    {% for review in latest_review_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'movies:review_detail' review.id %}">
        {{ review.movie.name }}
        </a></h4>
        <h6>Rated {{ review.rating }} of 5 by <a href="{% url 'movies:user_review_list' review.name %}" >{{ review.name }}</a></h6>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
